



.parent-cont {
    /* border: 3px solid red; */
    margin-top: 100px;
    margin-bottom: 200px;
}
.parent-row {
    /* border: 3px solid blue; */
}
/* .parent-col {
    border: 3px solid black;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
} */

.profile-col {
  /* border: 3px dotted brown; */
  /* padding: 0;
  margin-left: 0px;
  margin-right: 0px; */
  border-radius: 10px;
  background-color: white;
  /* border: 3px solid red; */
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  /* width: auto; */
}

.settings-col {
  /* border: 3px dotted purple; */
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.setting-title-col {
  background-color: rgb(170, 87, 87);
}

.setting-col {
  border-radius: 5px;
  background-color: white;
  /* border: 3px solid red; */
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  
  /* width: 100%; */
}


.bar-button-col {
  margin: 5px;
}

.margined-item {
  margin: 5px 0px 5px 0px;
}

.links-bar {
  border-radius: 5px;
  background-color: rgb(230, 205, 159);
  /* border: 3px solid red; */
  
}

/* .r {
  border: 3px solid green;
}

.c {
  border: 3px solid red;
} */

.my-cont {
    border-radius: 15px;
    background-color: white;
    /* border: 3px solid red; */
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.form-fields-wrapper {
    margin: 20px;
    margin-bottom: 40px;
    /* border: 3px solid yellow; */
}

/* .my-row {
    border: 3px solid yellow;
    
}


.my-col {
    border: 3px solid forestgreen;
} */

.submit {
    width: 190px;
    margin-bottom: 40px;
    overflow: hidden;
}

#title{
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

/* ul {
    margin: 0;
} */

/* .common-ul li {
    display: inline;
} */

#js-propery {
    display: inline;
    color: khaki;
    margin-right: 20px;
}



.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 10px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }