alembic==1.0.6
altgraph==0.15
APScheduler==3.8.1
astroid==2.1.0
asyncio==3.4.3
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.3.4
backports.zoneinfo==0.2.1
bcrypt==3.1.6
beautifulsoup4==4.6.0
blinker==1.4
boto3==1.9.151
botocore==1.12.151
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
cx-Freeze==5.1.1
decorator==4.3.2
Django==2.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
docutils==0.14
flake8==3.5.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.3.1
Flask-Script==2.0.6
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
gevent==1.3.6
gevent-websocket==0.10.1
greenlet==0.4.14
gunicorn==19.9.0
idna==2.6
importlib-resources==5.4.0
infinity==1.4
intervals==0.8.1
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.4
jupyter-client==5.2.2
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
lxml==4.2.1
macholib==1.9
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
messagebird==1.5.0
more-itertools==4.3.0
numpy==1.15.4
parso==0.1.1
password-strength==0.0.3.post2
pefile==2017.11.5
pep8==1.7.1
pew==1.1.2
pickleshare==0.7.4
Pillow==5.4.1
pipenv==9.0.3
pluggy==0.7.1
prompt-toolkit==1.0.15
psutil==5.3.1
psycopg2==2.7.7
py==1.6.0
pycodestyle==2.3.1
pycparser==2.19
pycryptodome==3.6.6
pyflakes==1.6.0
pygame==1.9.3
Pygments==2.2.0
PyInstaller==3.3.1
PyJWT==1.6.4
pylint==2.2.2
PyOpenGL==3.1.0
pypiwin32==223
pyserial==3.4
pytest==3.8.1
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2017.3
pytz-deprecation-shim==0.1.0.post0
pywin32==223
pyzmq==16.0.4
redis==2.10.6
requests==2.18.4
s3transfer==0.2.0
schedule==0.6.0
secret==0.8
simplegeneric==0.8.1
six==1.12.0
SQLAlchemy==1.2.16
tabulate==0.8.2
tornado==4.5.3
traitlets==4.3.2
typed-ast==1.1.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.22
validators==0.12.4
vectormath==0.2.0
vectors==1.0.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
wcwidth==0.1.7
websockets==7.0
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2.1
WTForms-Components==0.10.3
zipp==3.6.0
