{% extends "template.html" %}

{% block title %} Home {% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-courses.css') }}">

    <div class="container-fluid parent-container">
      <div class="row justify-content-center my-row">
        <div class="col-sm-7 my-col">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
             {% for category, message in messages %}
             <div class="alert alert-{{ category }}">
              {{ message }}
             </div>
             {% endfor %}
          {% endif %}
       {% endwith %}
        </div>
    </div>
        <div class="row justify-content-center parent-row">
            <div class="col parent-col">
                <div class="container">
                    <div class="row justify-content-center my-row">
                        <div class="col-sm-7 my-col heights-elemnts"> 
                            <h1>أهلا بك في مركز أفق الضوء للتدريب</h1>
                            <h1 style="color: orange;">{{ get_language_text('test_translation', get_current_page_language_list()) }}</h1>
                        </div>
                    </div>

                    <div class="row justify-content-center my-row">
                        <div class="col-sm-7 my-col">
                            <h3>إرادة النجاح مهمة ، لكن الأهم إرادة التحضير للنجاح 
                              كل الشدائد والصعوبات التي واجهتها في حياتك سوف تزيد من عزيمتك 
                              مهما كانت تحديات الحياة تذكّر دائماً أن تنظر الى قمة الجبل
                              نحن هنا معك لنساعدك في الوصول إلى القمة ...
                              لاتتردد 
                              ابدأ الآن وسجل 
                              </h3>
                        </div>
                    </div>

                    <div class="row justify-content-center my-row">
                        <div class="col-sm-7 my-col lowest-elemnts">
                            <a href="{{ url_for('students_blueprint.register') }}" class="btn btn-outline-dark">سجل كطالب الآن</a>
                            <!-- <a href="{{ url_for('tutors_blueprint.register') }}" class="btn btn-outline-dark">سجل كمدرس الآن</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- courses -->
    <div class="container my-cont">

      <div class="row my-row title">
        <center><h2>احدث الدورات</h2></center>
      </div>
        
        <div class="row my-row">
            {% for course in courses %}
                <div class="col-sm-4 my-col content-col">
                    <div class="card text-white bg-dark mb-3 my-card" style="max-width: 18rem;">
                        <div class="card-header">{{ course.subject }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <h5 class="card-title"><i class='fas fa-chalkboard-teacher' style='font-size:24px'></i> {{ course.tutor.user.full_name }}</h5>
                                <p class="card-text"><i class="bi bi-person-dash"></i> {{ course.empty_seats }}</p>
                                {% if current_user.user_type == "student" %}
                                  <p class="card-text"><i class="bi bi-cash"></i> ${{ course.price_for_student(current_user.student_data_mode) }} {{ course.currency }}  {% if course.has_discount_for_student(current_user.student_data_mode) %}عرض خاص{% endif %}</p> 
                                  {% else %}
                                  <p class="card-text"><i class="bi bi-cash"></i> ${{ course.price }} {{ course.currency }}</p>
                                  {% endif %}
                                  <a href="{{ url_for('courses_blueprint.course', course_id=course.id) }}" class="btn btn-primary">شاهد التفاصيل</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/index-background.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/index-background.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/index-background2.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div> -->

{% endblock %}