<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="utf-8">
  <title>TUTOR | الرئيسية</title>
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
<link rel="stylesheet" media="screen" href="  {{ url_for('static', filename='css/reset.css') }}">

  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  
  <h1 class="heading">بسم الله الرحمن الرحيم</h1>
  <p class="paragraph">أهلا بك في افضل موقع رياضة في الحياة</p>
    <h1 class="subHeading">TUTORS</h1>
 
  
  <!-- particles.js container -->
  <div id="particles-js"></div>

  <!-- scripts -->
  <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
  <script src=" {{ url_for('static', filename='js/app.js') }}"></script>
  <script src="  {{ url_for('static', filename='js/main.js') }}  "></script>


</body>

</html>