<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUTOR | {%block title%} {% endblock %}</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        {% if current_user.user_type == "tutor" %}
            {% include "snippets/tutors/header.html" %}
        {% elif current_user.user_type == "student" %}
            {% include "snippets/students/header.html" %}
        {% elif current_user.user_type in admin_types %}
            {% include "snippets/admins/header.html" %}
        {% endif %}
    {% else %}
        {% include "snippets/header.html" %}
    {% endif %}
    <br><br><br>
    <center>
    {% block content %}

    {% endblock %}
    </center>
    
</body>
</html>