{% extends "template.html" %}

{% block title %} Home admins{% endblock %}
{% block content %}
    <center>
        <h1 style="color: orange;">{{ get_language_text('test_translation', get_current_page_language_list()) }}</h1>
    </center>
    <br><br><br>

       {% include "snippets/language_select.html" %}


        <br><br><br><br><br><br>
        <ul>
        {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('admins_blueprint.control_panel') }}">control_panel</a></li>
                <li><a href="{{ url_for('admins_blueprint.profile') }}">profile</a></li>
                <li><a href="{{ url_for('users_blueprint.logout') }}">logout</a></li>
            {% endif %}
        {% endif %}
{% endblock %}