{% extends "template.html" %}

{% block title %} Register Tutor{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admins/control_panel.css') }}">

<div class="container parent-cont">
    <div class="row justify-content-center my-row">
        <div class="col-sm-7 my-col">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
             {% for category, message in messages %}
             <div class="alert alert-{{ category }}">
              {{ message }}
             </div>
             {% endfor %}
          {% endif %}
       {% endwith %}
        </div>
    </div>
    <div class="row justify-content-between parent-row align-items-start">

    <div class="col-lg-3 profile-col mb-3">
        <div class="row profile-image-row justify-content-center">
            <div class="col-12 profile-image-col">
               <center><img src="{{ url_for('static', filename='images/male_student.png') }}" alt="Admin" class="rounded-circle" width="150"></center>
            </div>
            <div class="col-12 profile-image-col">
                <center><h2>{{current_user.username}}</h2></center>
             </div>
             <div class="col-12 profile-image-col">
                <center>{{current_user.full_name}}</center>
             </div>
             <div class="col-12 profile-image-col">
                <center>{{current_user.email}}</center>
             </div>
             <div class="col-12 profile-image-col">
                <center>{{current_user.user_type}}</center>
             </div>
        </div>

            
</div>

<div class="col-lg-8 settings-col ">
    <div class="row my-row links-bar justify-content-center">
        <div class='col-md-2 link-col mb-2 bar-button-col'>
            <a href="{{ url_for('admins_blueprint.users_list_view') }}"><button type="button" class="btn btn-info">المستخدمين</button></a>
        </div>
        <div class='col-md-2 link-col mb-2 bar-button-col'>
            <a href="{{ url_for('courses_blueprint.courses') }}"><button type="button" class="btn btn-info">الدورات</button></a>
        </div>
        <div class='col-md-2 link-col mb-2 bar-button-col'>
            <a href="{{ url_for('admins_blueprint.add_course') }}"><button type="button" class="btn btn-info">انشئ دورة</button></a>
    </div>
    </div>

    <div class="row my-row settings-row align-items-start">
        <div class="col-sm-6 my-col setting-col mb-2">
            <div class="row my-row justify-content-center">
                <div class="col-md-12 setting-title-col">
                    <center><h5>اعدادات نظام الوصول الى الدورات</h5></center>
                </div>
            </div>
            <div class="row my-row justify-content-center">
                <div class="col-md-12 setting-content-col ">
                    <div class="row my-row">
                        <div class="col-xl-8 col-md-12 margined-item">
                            <a href="{{ url_for('admins_blueprint.change_site_settings', setting='allow_tutors_to_create_courses') }}"><button type="button" class="btn btn-dark">اسمح للمعلمين بإنشاء دورات دون اذن</button></a>
                        </div>
                        <div class="col-xl-4 col-md-12 margined-item">
                            <center>: {{settings.allow_tutors_to_create_courses.setting_value}}</center>
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-xl-9 col-md-12 margined-item">
                            <a href="{{ url_for('admins_blueprint.change_site_settings', setting='allow_tutors_to_edit_courses') }}"><button type="button" class="btn btn-dark">اسمح للمعلمين بالتعديل على الدورات دون اذن</button></a>
                        </div>
                        <div class="col-xl-3 col-md-12 margined-item">
                            <center>: {{settings.allow_tutors_to_edit_courses.setting_value}}</center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
 
        <div class="col-sm-6 my-col setting-col mb-2">
            <div class="row my-row justify-content-center">
                <div class="col-md-12 setting-title-col">
                    <center><h5>المواد التعليمية المسموحة</h5></center>
                </div>
            </div>
            <div class="row my-row justify-content-center">
                <div class="col-md-12 setting-content-col">
                    <div class="row my-row justify-content-center">
                        <div class="col-md-12 mb-2">
                            <div class="input-group margined-item">
                                <div class="input-group-prepend">
                                  <button class="btn btn-dark " type="button" id="add-subject">أضف مادة</button>
                                </div>
                                <input type="text" class="form-control" placeholder="المادة" aria-label="" aria-describedby="basic-addon1" id="subject-text">
                              </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            {% for subject in settings.subjects.setting_value %}
                            <a href="{{ url_for('admins_blueprint.change_site_settings', setting='subjects', change_action_name='remove', value=subject) }}"><button class="btn btn-dark">احذف</button></a> : {{ subject }} 
                            {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div> 
        

  
</div>
</div>
</div>

<script>
    $(document).ready(function(){
                $("#add-subject").click(function() {
                    value = $("#subject-text").val()
                    link = "{{ url_for('admins_blueprint.change_site_settings') }}";
                $.ajax({
                    url: link,
                    type: "GET",
                    data: {
                        value: value,
                        setting: "subjects",
                        change_action_name: "add"
                    },
                    success: function(result){
                        location.reload();
                        console.log(result)
                    },
                    error: function(error){
                        console.log("didn't work")
                    }
                })
            })
        })
</script>
       
{% endblock %}