{% extends "template.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/filtered_table.css') }}" >{% endblock %}
{% block title %}admin users{% endblock %}
{% block content %}
<div class="filtered_table">
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">الاسم الاول</th>
            <th scope="col">الاسم الأخير</th>
            <th scope="col">اسم المستخدم</th>
            <th scope="col">الايميل</th>
            <th scope="col">الجنس</th>
            <th scope="col">النوع</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <a href="#">
            <th scope="row">{{ user.id }}</th></a>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.user_type }}</td>
            <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 11.854a.5.5 0 0 0 .708 0L8 8.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM2.4 5.2c0 .22.18.4.4.4h10.4a.4.4 0 0 0 0-.8H2.8a.4.4 0 0 0-.4.4z"/>
              </svg></a> / <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></a></td>
        
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}