{% extends "template.html" %}

{% block title %} Course {% endblock %}
{% block content %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <div class="container parent-cont">


    <div class="row justify-content-center parent-row">


    <div class="col-sm-10 parent-col">

    <div class="container my-cont">

        <div class="row justify-content-center my-row">
            <div class="col my-col">
                <p id="heights-elemnt">{{course.subject}}</p>
            </div>
        </div>

        <div class="row justify-content-center my-row">
            <div class="col my-col">
                <h1>{{course.name}}</h1>
            </div>
        </div>

        <div class="row justify-content-center my-row">
            <div class="col my-col">
                <p>{{ course.description }}</p>
            </div>
        </div>

        <div class="row justify-content-center my-row">
            <div class="col-4 my-col">
                <h5><i class="bi bi-cash"></i> ${{ course.price_for_student(current_user.student_data_mode) }} {{ course.currency }}</h5>
                {% if course.has_discount_for_student(current_user.student_data_mode) %}
                <h5>discounted from <i class="bi bi-cash"></i>  ${{ course.price }} {{ course.currency }}</h5>
                {% endif %}
            </div>
            <div class="col-4 my-col">
                <h5>عدد الكراسي الشاغرة: {{ course.empty_seats }}</h5>
            </div>
            <div class="col-4 my-col">
                <h5>عدد الطلاب المتسجلين: {{ course.number_of_participants }}</h5>
            </div>
        </div>

        <div class="row justify-content-center my-row">
            <div class="col-4 my-col">
                <h5>الحالة: {{ course.state.state_string }}</h5>
            </div>
            <div class="col-4 my-col">
                <h5>المدة: {{ course.period }} ايام</h5>
            </div>
        </div>

        <div class="row justify-content-center my-row">
            <div class="col-4 my-col">
                <h5>تاريخ الانتهاء: {{ course.end_date }}</h5>
            </div>
            <div class="col-4 my-col">
                <h5>تاريخ البدأ: {{ course.start_date }}</h5>
            </div>
        </div>

        <div class="row justify-content-center my-row">
            جدول الحصص
            {% for day, time_obj in course.weekly_time_table.items() %}
                {% if time_obj.from != "None" and time_obj.to != "None" %}
                    <div class="col-12 my-col">
                        <p>{{ get_language_text(day, get_current_page_language_list()) }}: {{ get_language_text('from', get_current_page_language_list()) }} {{ time_obj.from }} {{ get_language_text('to', get_current_page_language_list()) }} {{ time_obj.to }}</p>
                    </div>
                {% else %}
                    <div class="col-12 my-col">
                        <p>{{ get_language_text(day, get_current_page_language_list()) }}: {{ get_language_text("no class today", get_current_page_language_list()) }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row justify-content-center my-row">
            {% if course.has_student(current_user.student_data_model) and course.state["state_code"] == 2 %}
                <div class="col-4 my-col">
                    <h5>رابط زوم: {{ course.link("students_zoom_link") }}</h5>
                </div>
            {% endif %}

            <div class="col-4 my-col">
                <h5>المدرس: {{ course.tutor.user.first_name }}</h5>
            </div>
        </div>



        <div class="row justify-content-center my-row">
            <div class="col my-col">
        
            {% if course.can_join(current_user.student_data_model) %}
                <a href="{{ url_for('students_blueprint.join_course', course_id=course.id) }}"><button type="button" class="btn btn-dark settings-button">انظم الى الكورس <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg></button></a>
            {% elif course.show_leave_request_button(current_user.student_data_model.id) %}
            <a href="{{ url_for('students_blueprint.leave_course', course_id=course.id) }}"><button type="button" class="btn btn-dark settings-button">ارفع طلب خروج من الدورة<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg></button></a>
            {% elif course.show_leave_button(current_user.student_data_model) %}
                <a href="{{ url_for('students_blueprint.leave_course', course_id=course.id) }}"><button type="button" class="btn btn-dark settings-button">غادر الكورس <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg></button></a>
            {% endif %}
        
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}