{% extends "template.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
    <center>
        <h1 style="color: orange;">Student Profile</h1>
    </center>
    <br><br><br>
    <a href="{{ url_for('students_blueprint.home') }}">Home</a>
    <br>
    <a href="{{ url_for('users_blueprint.logout') }}">logout</a>
    <br>
    <a href="{{ url_for('students_blueprint.edit_profile') }}">edit</a>
    <br>
    first name: {{ current_user.first_name }}
    <br>

    
    last name: {{ current_user.last_name }}
    <br>
    
    
    email: {{ current_user.email }}
    <br>

    
    username: {{ current_user.username }}
    <br>

    school name: {{ current_user.student_data_model.school_name }}
    <br>

    age: {{ current_user.student_data_model.age() }}
    <br>


    
{% endblock %}