{% extends "template.html" %}

{% block title %} Register {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/students/registrationForm.css') }}">
<div class="container parent-cont">
    <div class="row justify-content-center parent-row">

    <div class="col-sm-8 parent-col">

    
    <form action="" method="POST" enctype="multipart/form-data" class="container my-cont">

        {{ form.hidden_tag() }}
        <div class="form-fields-wrapper">

        <div class="form-row my-row">
            <div class='col-12'>
                <h1 id="title">
                    سجل كطالب
                </h1>
            </div>
        </div>

        <div class="form-row my-row">
            <div class="form-group col-sm-6">
                <label for="{{ form.first_name.id }}">الاسم الأول</label>
                {{ form.first_name(class="form-control") }}
            </div>
            
            <div class="form-group col-sm-6">
                <label for="{{ form.last_name.id }}">الاسم الاخير</label>
                {{ form.last_name(class="form-control") }}
            </div>
        </div>

        <div class="form-row my-row">
            <div class="form-group col-sm-6">
                <label for="{{ form.username.id }}">اسم المستخدم</label>
                {{ form.username(class="form-control") }}
            </div>
            
            <div class="form-group col-sm-6">
                <label for="{{ form.email.id }}">الايميل</label>
                {{ form.email(class="form-control") }}
            </div>
        </div>

        <div class="form-row my-row">
            <div class="form-group col-sm-6">
                <label for="{{ form.date_of_birth.id }}">تاريخ الميلاد</label>
                {{ form.date_of_birth(class="form-control") }}
            </div>
            
            <div class="form-group col-sm-6">
                <label for="{{ form.gender.id }}">الجنس</label>
                {{ form.gender(class="form-control") }}
            </div>
        </div>

        <div class="form-row my-row">
            <div class="form-group col-md-6 my-col">
                <div class="container password-cont">
                    <div class="row my-row">
                        <div class="col-md-12 my-col">
                            <label for="{{ form.password.id }}">الرقم السري</label>
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-md-10 my-col">
                            {{ form.password(class="form-control", id="password") }}
                        </div>
                        <div class="col-md-2 my-col">
                            <input type="checkbox" onclick="togglePassword()">
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-md-10 my-col">
                            <p id="strength"></p>
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-md-12 my-col">
                            <div class="password-conditions">
                                <p>يجب ان تتكون كلمة السر من 8 حروف على الاقل</p>
                                <p>يجب ان تحتوي على رقمين على الاقل</p>
                                <p>يجب ان تحتوي على رمز واحد على الاقل</p>
                                <p>يجب ان تحتوي على حرف كبير واحد على الاقل</p>
                                <p>يجب ان تكون قوة الرقم متوسطة على الاقل</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 my-col">
                <div class="container password-cont">
                    <div class="row my-row">
                        <div class="col-md-12 my-col">
                            <label for="{{ form.confirm_password.id }}">تأكيد الرقم السري</label>
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-md-10 my-col">
                            {{ form.confirm_password(class="form-control", id="confirmPassword") }}
                        </div>
                        <div class="col-md-2 my-col">
                            <input type="checkbox" onclick="toggleConfirmPassword()">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row my row">
            <div class="col-12 my-col">
                {% for field, error_message in form.errors.items() %}
                    {% for error in error_message %}
                        <h5 style="color: red;">{{ error }}</h5> 
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="form-row my-row">
            <div class="col-12 form-check">
                {{ form.user_agreement(class="form-check-input") }}
                <label class="form-check-label" for="{{ form.user_agreement.id }}">اقبل <a href="{{ url_for('main_blueprint.user_agreement_pdf') }}">باتفاقية المستخدم</a></label>
              </div>
              <div class="col-12 form-check">
                {{ form.privacy_use_agreement(class="form-check-input") }}
                <label class="form-check-label" for="{{ form.privacy_use_agreement.id }}">اقبل <a href="{{ url_for('main_blueprint.privacy_use_agreement_pdf') }}">باتفاقية الخصوصية والاستخدام</a></label>
              </div>
            <div class='col-12'>
                {{ form.submit(class="btn btn-primary submit", value="سجل الآن") }}
            </div>
        </div>

        <div class="form-row my-row">
            <div class='col-12'>
            </div>
        </div>
    </div>
    </form>
</div>
</div>
</div>

<script>
     function togglePassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

function toggleConfirmPassword() {
  var x = document.getElementById("confirmPassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

$(document).ready(function(){
            $("#password").on("input", function() {
                password = $("#password").val()
                link = "{{ url_for('main_blueprint.check_password_strength') }}";
            $.ajax({
                url: link,
                type: "GET",
                data: {
                    password: password,
                },
                success: function(result){
                    strength_p = document.getElementById("strength")
                    strength_p.textContent = result;
                    if (result.localeCompare("ضعيف") == 0){
                        strength_p.style.color = "red";
                    } else if (result.localeCompare("متوسط") == 0){
                        strength_p.style.color = "orange";
                    }else if (result.localeCompare("قوي") == 0){
                        strength_p.style.color = "green";
                    }
                    console.log(result)
                },
                error: function(error){
                    console.log("didn't work")
                }
            })
        })
    })

</script>
{% endblock %}