{% extends "template.html" %}

{% block title %} Edit {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tutors/editProfileForm.css') }}">
    <center>
        <h1 style="color: orange;">Tutor Edit Profile</h1>
    </center>
    <br><br><br>
    <form action="" method="POST" enctype="multipart/form-data" id="form" onsubmit="DoSubmit()">
        {{ form.hidden_tag() }}

        {{ form.first_name.name }}
        {{ form.first_name() }}
        <br>

        {{ form.last_name.name }}
        {{ form.last_name() }}
        <br>
        
        {{ form.email.name }}
        {{ form.email() }}
        {% for error in form.email.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.username.name }}
        {{ form.username() }}
        {% for error in form.username.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.date_of_birth.name }}
        {{ form.date_of_birth() }}
        {% for error in form.date_of_birth.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.gender.name }}
        {{ form.gender() }}
        {% for error in form.gender.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.nationality.name }}
        {{ form.nationality() }}
        {% for error in form.nationality.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.major.name }}
        {{ form.major() }}
        {% for error in form.major.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.qualification.name }}
        {{ form.qualification() }}
        {% for error in form.qualification.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.current_job.name }}
        {{ form.current_job() }}
        {% for error in form.current_job.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        <div class="form-group col-sm-6 my-col">
            <label class="col my-col">المواد التي ترغب بتدريسها</label>
        <div id="list1" class="dropdown-check-list" tabindex="100">
            <span class="anchor">Select Fruits</span>
            <ul class="items">
                {% for subject in settings.subjects.setting_value %}
                    <li><input type="checkbox" name="{{subject}}" value="{{subject}}" id="checkbox-subject"/> {{subject}} </li>
                {% endfor %}
            </ul>
          </div>
        </div>
        {{ form.subjects(hidden="True") }}
        {% for error in form.subjects.errors %}
                <h3 style="color: red;">error in field: {{ error }}</h3> 
             {% endfor %}
        </div>

        {{ form.years_of_experience.name }}
        {{ form.years_of_experience() }}
        {% for error in form.years_of_experience.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>


        <ul id="tools_ul"> 
                    
        </ul>
        {{ form.tools_used_for_online_tutoring.name }}
        {{ form.tools_used_for_online_tutoring(id="tools") }} <input type="button" value="add tool" onclick="populate_list_with_text('tools', 'tools_ul')">
        {% for error in form.tools_used_for_online_tutoring.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>
        <br>


        {{ form.submit() }}
        <br>
        <br>
        <br>
        <a href="{{ url_for('users_blueprint.change_password') }}"><button type="button">change password</button></a>

        {% for error in form.errors %}
            <h3 style="color: red;">error in field: {{ error }}</h3> 
        {% endfor %}
    </form>


    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}">
    </script>
    <script>
        // $(document).ready(function(){
            function DoSubmit(){
                form = document.getElementById("form")

                subjects_array_from_database = "{% for i in settings.subjects.setting_value%}{{ i }} {% endfor %}".split(" ")
                subjects_node_list = document.querySelectorAll('.items>li>input');
                subjects_checked_list = []
                for (subject of subjects_node_list){
                    if (subject.checked){
                        subjects_checked_list.push(subject.value)
                    }
                }
                alert(subjects_checked_list)
                form.subjects.value = JSON.stringify(subjects_checked_list)

                tools_array = []
                Array.from(document.querySelectorAll('#tools_ul>li'), li => tools_array.push(li.textContent))
                form.tools_used_for_online_tutoring.value = JSON.stringify(tools_array)

                return true

                }

                tutor_subjects_array_from_database = "{% for subject in current_user.tutor_data_model.subjects %}{{ subject }} {% endfor %}".split(" ")
                subjects_node_list = document.querySelectorAll('.items>li>input');
                for (tutor_subject of tutor_subjects_array_from_database){
                    // grab input with the same and check it
                    for (input of subjects_node_list){
                        if (input.name == tutor_subject){
                            input.checked = true;
                        }
                    }
                }
            

                var checkList = document.getElementById('list1');
                checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList.classList.contains('visible'))
                    checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
        }
    // });
    </script>
{% endblock %}