{% extends "template.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
    <center>
        <h1 style="color: orange;">Tutor Profile</h1>
    </center>
    <br><br><br>
    <a href="{{ url_for('main_blueprint.home') }}">Home</a>
    <br>
    <a href="{{ url_for('users_blueprint.logout') }}">logout</a>
    <br>
    <a href="{{ url_for('tutors_blueprint.edit_profile') }}">edit</a>
    <br>
    first name: {{ current_user.first_name }}
    <br>

    
    last name: {{ current_user.last_name }}
    <br>
    
    
    email: {{ current_user.email }}
    <br>

    
    username: {{ current_user.username }}
    <br>

    gender: {{ current_user.gender }}
    <br>

    user type: {{ current_user.user_type }}
    <br>

    {{ current_user.tutor_data_model.subjects }}
    {{ current_user.tutor_data_model.tools_used_for_online_tutoring }}


    
{% endblock %}