<nav class="navbar navbar-expand-lg navbar-dark my-navbar">
    <a class="navbar-brand" href="#">HLTC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main_blueprint.home') }}">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tutors_blueprint.profile') }}">الملف الشخصي</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users_blueprint.logout') }}">سجل خروج</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tutors_blueprint.add_course') }}">اضف دورة</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('courses_blueprint.courses') }}">الدورات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tutors_blueprint.tutor_courses') }}">دوراتي</a>
      </li>
        {% include "snippets/language_select_bootstrap.html" %}
      </ul>
    </div>
  </nav>