{% extends "template.html" %}

{% block title %} change password {% endblock %}

{% block content %}
    <center>
        <h1 style="color: orange;">change password</h1>
    </center>
    <br><br><br><br>

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        {{ form.old_password.name }}
        {{ form.old_password() }}
        {% for error in form.old_password.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.new_password.name }}
        {{ form.new_password() }}
        {% for error in form.new_password.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.confirm_password.name }}
        {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.submit() }}

        <br>
        {% for error in form.errors %}
            <h3 style="color: red;">error in field: {{ error }}</h3> 
        {% endfor %}
    </form>
   
{% endblock %}