{% extends "template.html" %}

{% block title %} email verification {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users/request_reset_password.css') }}">

<div class="container parent-cont">
    <div class="row justify-content-center parent-row">

    <div class="col-sm-5 parent-col">

    <form action="" method="POST" enctype="multipart/form-data" id="form" class="container my-cont" onsubmit="DoSubmit()">
        {{ form.hidden_tag() }}

        <div class="form-fields-wrapper">

            <div class="form-row my-row">
                <div class='col-12 my-col'>
                    <h1 id="title">
                        طلب اعادة انشاء الرقم السري
                    </h1>
                </div>
            </div>

            <div class="form-row my-row">
                <div class="form-group col-sm-12 my-col">
                    <label for="{{ form.username_or_email.id }}">اسم المستخدم او الايميل</label>
                    {{ form.username_or_email(class="form-control") }}
                </div>
            </div>

            <div class="form-row my-row">
                <div class='col-12 my-col'>
                    {{ form.submit(class="btn btn-primary submit", value="اطلب") }}
                    {% for error in form.errors %}
                    <h3 style="color: red;">error in field: {{ error }}</h3> 
                    {% endfor %}
                </div>
            </div>


    </div>
    </form>
</div>
</div>
</div>

   
{% endblock %}