{% extends "template.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users/change_password.css') }}">

<div class="container parent-cont">
    <div class="row justify-content-center parent-row">

    <div class="col-sm-5 parent-col">

    <form action="" method="POST" enctype="multipart/form-data" id="form" class="container my-cont" onsubmit="DoSubmit()">
        {{ form.hidden_tag() }}

        <div class="form-fields-wrapper">

            <div class="form-row my-row">
                <div class='col-12 my-col'>
                    <h1 id="title">
                        غير رقمك السري
                    </h1>
                </div>
            </div>

            <div class="form-row my-row">
                <div class="form-group col-sm-12 my-col">
                    <label for="{{ form.old_password.id }}">الرقم السري القديم</label>
                    {{ form.old_password(class="form-control") }}
                    {% for error in form.old_password.errors %}
                    <h3 style="color: red;"> {{ error }}</h3> 
                    {% endfor %}
                </div>
            </div>
    
            <div class="form-row my-row">
                <div class="form-group col-sm-12 my-col">
                    <label for="{{ form.new_password.id }}">الرقم السري الجديد</label>
                    {{ form.new_password(class="form-control") }}
                    {% for error in form.new_password.errors %}
                    <h3 style="color: red;"> {{ error }}</h3> 
                    {% endfor %}
                </div>
            </div>

            <div class="form-row my-row">
                <div class="form-group col-sm-12 my-col">
                    <label for="{{ form.confirm_password.id }}">تأكيد الرقم السري الجديد</label>
                    {{ form.confirm_password(class="form-control") }}
                    {% for error in form.confirm_password.errors %}
                    <h3 style="color: red;"> {{ error }}</h3> 
                    {% endfor %}
                </div>
            </div>

            <div class="form-row my row">
                <div class="col-12 my-col">
                    {% for field, error_message in form.errors.items() %}
                        {% for error in error_message %}
                            <h5 style="color: red;">{{ error }}</h5> 
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="form-row my-row">
                <div class='col-12 my-col'>
                    {{ form.submit(class="btn btn-primary submit", value="غير") }}
                </div>
            </div>

            <div class="form-row my-row">
                <div class="form-group col-sm-6 my-col">
                    <a href="{{ url_for('users_blueprint.request_reset_password') }}">نسيت كلمة المرور ؟</a>
                </div>
            </div>

    </div>
    </form>
</div>
</div>
</div>


{% endblock %}