{% extends "template.html" %}

{% block title %} Register {% endblock %}

{% block content %}
    <center>
        <h1 style="color: orange;">بسم الله</h1>
    </center>
    <br><br><br>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.first_name.name }}
        {{ form.first_name() }}
        <br>

        {{ form.last_name.name }}
        {{ form.last_name() }}
        <br>
        
        {{ form.email.name }}
        {{ form.email() }}
        {% for error in form.email.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.username.name }}
        {{ form.username() }}
        {% for error in form.username.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.password.name }}
        {{ form.password() }}
        <br>

        {{ form.confirm_password.name }}
        {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.date_of_birth.name }}
        {{ form.date_of_birth() }}
        <br>


        {{ form.submit() }}
        
        <br>
        {% for error in form.errors %}
            <h3 style="color: red;">error in field: {{ error }}</h3> 
        {% endfor %}
    </form>
{% endblock %}