{% extends "template.html" %}

{% block title %} request reset password {% endblock %}

{% block content %}
    <center>
        <h1 style="color: orange;">request reset password</h1>
    </center>
    <br><br><br><br>

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username_or_email.name }}
        {{ form.username_or_email() }}
        {% for error in form.username_or_email.errors %}
            <h3 style="color: red;"> {{ error }}</h3> 
        {% endfor %}
        <br>

        {{ form.submit() }}

        <br>
        {% for error in form.errors %}
            <h3 style="color: red;">error in field: {{ error }}</h3> 
        {% endfor %}
    </form>
   
{% endblock %}