

<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>رؤيتنا</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li>تقديم الدعم التعليمي للطلاب في المرحلتين المتوسطة والثانوية لتجاوز كل المصاعب التي يواجهونها في المقررات الدراسية وزيادة نسبة التحصيل الدراسي لديهم .</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>رسالتنا</h4>
            <ul class="list-unstyled">
              <li>نحن في منصة نور الأفق نطمح في المساهمة في إخراج أجيال من الطلاب على مستوى عالٍ من القدرة والكفاءة وتساهم في استمرار نهضة المملكة العربية السعودية في جميع المجالات ، وتواكب رؤية 2030 والتي من شأنها المساهمة في جعل هذا البلد في طليعة البلدان المتقدمة في العالم .</li>
            
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>روابط اضافية</h4>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('main_blueprint.how_to_download_zoom') }}">كيفية تحميل برنامج زوم</a></li>
              
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2021 - Horizon Light Training Centre.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>